.color-number-1 { background-color: var(--category-red); }
.color-number-2 { background-color: var(--category-dark-pink); }
.color-number-3 { background-color: var(--category-brown); }
.color-number-4 { background-color: var(--category-orange); }
.color-number-5 { background-color: var(--category-gold); }
.color-number-6 { background-color: var(--category-amber); }
.color-number-7 { background-color: var(--category-lime); }
.color-number-8 { background-color: var(--category-greeen); }
.color-number-9 { background-color: var(--category-emerald); }
.color-number-10 { background-color: var(--category-teal); }
.color-number-11 { background-color: var(--category-dark-teal); }
.color-number-12 { background-color: var(--category-dark-cian); }
.color-number-13 { background-color: var(--category-light-blue); }
.color-number-14 { background-color: var(--category-blue); }
.color-number-15 { background-color: var(--category-cian); }
.color-number-16 { background-color: var(--category-dark-blue); }
.color-number-17 { background-color: var(--category-indigo); }
.color-number-18 { background-color: var(--category-violet); }
.color-number-19 { background-color: var(--category-purple); }
.color-number-20 { background-color: var(--category-light-indigo); }
.color-number-21 { background-color: var(--category-light-fuchsia); }
.color-number-22 { background-color: var(--category-pink); }
.color-number-23 { background-color: var(--category-rose); }
.color-number-24 { background-color: var(--category-fuchsia); }
.color-number-25 { background-color: var(--category-blue-gray); }
.color-number-26 { background-color: var(--category-gray); }
