.dashboard-page {
  display: flex;
  justify-content: center;
  width: auto;
}

.dashboard-page_list {
  width: 655px;
  margin-right: 1.5rem;
}

.transactions-list {
  margin-top: 2rem;
}

.dashboard-page_statistics {
  width: 10rem;
}

.month-picker {
  margin-bottom: 1.5rem;
}
