.transactions-list .month-picker {
  margin-bottom: 1.5rem;
}

.transactions-list_grid {
  width: 765px;
}

.transactions-list .no-transactions {
  width: 655px;
  margin: 0 0 0 auto;
  text-align: center;
}

.transactions-list_day {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.transactions-list_day:not(:first-of-type) {
  margin-top: 1rem;
}

.transactions-list_day_title {
  flex-grow: 1;
  text-align: right;
  margin: 0 1rem 0 0;
  font: var(--font-h1);
}

.transactions-list_day_title > sup {
  font: var(--font-regular);
}

.transactions-list_list {
  width: 655px;
}

.transactions-list_list .transaction:not(:first-of-type) {
  margin-top: 0.625rem;
}
